/* Custom CSS for Navbar */

.navbar {
  width: 100%;
  background-color: #050505;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 5%;
  justify-content: space-around;
}

.navbar-list li {
  margin-right: 10px;
}

.navbar-list li a,
.navbar-list button {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar-list li a:hover {
  background-color: #555;
}

.navbar-list button {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.logo-container {
  display: flex;
}

.logo {
  max-width: 200px;
}

.nameLogo {
  max-height: 200px;
}