.books-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 8%;
  background-color: rgba(43, 129, 123, 0.4);
  position: relative;
  overflow: hidden;
}

.books-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-top: 25px;
  margin-bottom: 90px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 25px;
    padding: 0;
  }
}

.books-card img {
  padding-top: 15px;
  max-width: 150px;
  width: auto;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s;
}

.books-card:hover img {
  transform: scale(1.05);
}

.description {
  height: 80px;
  overflow: hidden;
}

.search-input-left {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  width: 300px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-button-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 110px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%; /* Adjust the maximum width as needed */
  width: auto;
  max-height: 90vh; /* Adjust the maximum height as needed */
  overflow-y: auto;
  background-color: #333; 
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  z-index: 999;
}

#booktitlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#book-close {
  font-size: xx-small;
  height: 20px;
}

.book-infos{
  margin: 0 15px;
  text-align: left;
  padding-bottom: 10px;
}

.addtori {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #2B817B;
  color: white;
  font-size: 1em;
  font-weight: 500px;
  font-family: inherit;
  margin: auto 20px;
  padding: 0.6em 1.2em
}

.addtori:hover {
  color: white;
}