.signinform {
  display: grid;
  justify-content: center;
  width: 100%;
  max-width: 40em;
  border: 3px solid #e5e5e5;
  padding: 10px;
  box-shadow: 10px 5px #3d3d3d;
  border-radius: 25px;
  margin-top: 120px;
  margin-bottom: 100px;
  overflow-y: auto; /* Add a vertical scrollbar if the content exceeds the container height */
}

.signintitle {
  justify-self: center;
  color: #2B817B;
}

#pseudo, #email, #password, #password_confirmation {
  border-radius: 8px;
  height: 35px;
  width: 30em;
  border: none;
}

@media screen and (max-width: 600px) {
  .signinform {
    max-width: 90%;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  #pseudo, #email, #password, #password_confirmation {
    width: 100%;
    max-width: 100%;
  }
}